<div class="container" ng-controller="CamionPostCtrl">
 
    <h3>Nouveau camion</h3>
    <p>* champs obligatoires</p>
    <form> 
        <div class="form-group">
            <label for="inputN">Numéro d'immatriculation *</label>
            <input type:'text' class="form-control" id="inputN" placeholder=' Max. 8 charactère' ng-model="post.immatriculation">
        </div>
        <div class="form-group" >
            <label for="inputDomaineList">Sélectionez un Domaine *</label>
            <select class="form-control" ng-model="domaine_selection" ng-options="domaine as (domaine.iddomaine)  for domaine in domaines">
            </select>
        </div>
        <div class="form-group" >
            <label for="inputtypecamionList">Sélectionez le type de camion *</label>
            <select class="form-control" ng-model="typecamion_selection" ng-options="typecamion as (typecamion.nom_type_fr)  for typecamion in typecamions">
            </select>
        </div>
        <div class="form-group">
            <label for="inputCap">Capacité *</label>
            <input type:'text' class="form-control" id="inputCap" placeholder='nombre' ng-model="post.capacite_camion">
        </div>
        <div class="form-group" >
            <label for="inputstatutcamionList">Sélectionez le statut de camion *</label>
            <select class="form-control" ng-model="statutcamion_selection" ng-options="statutcamion as (statutcamion.nom_statut_fr)  for statutcamion in statutcamions">
            </select>
        </div>
        <div class="form-group">
            <label for="inputGPS">GPS *</label>
            <input type:'text' class="form-control" id="inputGPS" placeholder='Non-nul. Numero de la carte GPRS/GSM' ng-model="post.gps_camion">
        </div>
        <button type="submit" class="btn btn-success" ng-click="save(post)">Ajouter</button>
    </form>

</div>
