<legend>Autorisation</legend>

<div class="form-group">
  <label for="username">Identifiant</label>
  <input type="text" class="form-control" id="username" placeholder="Nom" ng-model="user.username">
</div>
<div>
<h3>test</h3>
  </div>
<div class="form-group">
  <label for="password">Mot de passe</label>
  <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
</div>

<button type="button" ng-click="login()" class="btn btn-primary">Entrer</button>
