<div class="container" ng-controller="OperBonustrajetEditCtrl">
 
    <h3>Modification du trajet bonus : <code>{{post.idbonustrajet}}</code> </h3> 
  
    <form>
        <div class="form-group" >
            <label for="inputStationList1">Sélectionez une Station de départ *</label>
            <select class="form-control" ng-model="station_selection1" ng-options="station as (station.idstation + ' ' + station.nom_station + ' ' + station.dom_station)  for station in stations | filter:{dom_station:domaine_selection.iddomaine}">
            </select>
        </div>
        <div class="form-group" >
            <label for="inputStationList2">Sélectionez une Station d'arrivée *</label>
            <select class="form-control" ng-model="station_selection2" ng-options="station as (station.idstation + ' ' + station.nom_station + ' ' + station.dom_station)  for station in stations | filter: {dom_station:domaine_selection.iddomaine}">
            </select>
        </div>
        <div class="form-group">
            <label for="inputD">Date de validité</label>
            <input type:'text' class="form-control" id="inputD" placeholder='{{post.date_valable}}' ng-model="post.date_valable">
        </div>
        <div class="form-group">
            <label for="inputp">Bonus</label>
            <input type:'text' class="form-control" id="inputp" placeholder="{{post.montant_bonus}}" ng-model="post.montant_bonus">
        </div>
        <button type="submit" class="btn btn-success" ng-click="save(post)">Valider</button>
    </form>

</div>
