<div class="container" ng-controller="OperVeloPointCtrl">
    <div class="mapCanvas">
        <ui-gmap-google-map
                center='map.center'
                zoom='map.zoom'
                draggable="map.draggable"
                options="options">
            <ui-gmap-polyline  
                path="polyline.path" 
                stroke="polyline.stroke" 
                visible='polyline.visible'
                geodesic='polyline.geodesic' 
                fit="false" 
                editable="false" 
                draggable="polyline.draggable" 
                icons='polyline.icons'>
            </ui-gmap-polyline>
            <ui-gmap-polygon
                ng-repeat="p in polygons track by p.id" 
                path="p.path" 
                static="true" 
                stroke="p.stroke" 
                visible="p.visible"
                geodesic="p.geodesic" 
                fill="p.fill" 
                fit="false" 
                editable="p.editable" 
                draggable="p.draggable">
            </ui-gmap-polygon>
            <ui-gmap-drawing-manager 
                options="drawingManagerOptions"
                events="drawingManagerEvents">
            </ui-gmap-drawing-manager>
   
        </ui-gmap-google-map>

    </div>
</div>