<div class="container" ng-controller="VeloGpsCtrl">
  <div class="page-header">
    <h3>Positions de vélo</h3>
  </div>
  <p class="lead">
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>GPS</th>
        <th>Date</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
      <tr ng-repeat="p in gpsvelos">
        <td>{{p.idgpsvelo}}</td>
        <td>{{p.pucegps}}</td>
        <td>{{p.date_position}}</td>
        <td>{{p.position.x}}</td>
        <td>{{p.position.y}}</td>
      </tr>
    </table>
  </p>

</div>
