<div class="container" ng-controller="VeloGetCtrl">
  <div class="page-header">
    <h3>Vélos</h3>
  </div>
  <a href="#/velos/ajouter" class="btn btn-success" style="margin-bottom: 15px;">Ajouter</a>

  <p class="lead">
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Domaine</th>
        <th>Station</th>
        <th>Type</th>
        <th>Statut</th>
        <th>Date</th>
        <th>Position</th>
        <th>Puce GPS</th>
        <th>Etat</th>
        <th>Action</th>
      </tr>
      <tr ng-repeat="p in velos">
        <td>{{p.idvelo}}</td>
        <td>{{p.dom_velo}}</td>
        <td>{{p.nom_station}}</td>
        <td>{{p.nom_type_fr}}</td>
        <td>{{p.nom_statut_fr}}</td>
        <td>{{p.date_statut}}</td>

        <td>
          <a href="#/velos/carte/{{p.dom_velo}}/{{p.idvelo}}" class="btn btn-link btn"> Carte
          <span class="glyphicon glyphicon-screenshot"></span></a>         
        </td>         

        <td ng-if="p.activ_pucegps==true">
            <a href="#/velos/gps/{{p.pucegps_velo}}" class="btn btn-link btn">Historique 
            <span class="glyphicon glyphicon-map-marker"></span></a> 
        </td>
        <td ng-if="p.activ_pucegps==false">non</td>

        <td ng-if="p.desact_velo==true">désactivé</td>
        <td ng-if="p.desact_velo==false">actif</td> 

        <td>
            <a href="#/velos/editer/{{p.idvelo}}" class="btn btn-warning btn-xs">
            <span class="glyphicon glyphicon-edit"></span></a>
            <button class="btn btn-danger btn-xs" ng-click="delete(p.idvelo)">
            <span class="glyphicon glyphicon-trash"></span></button>
        </td>
      </tr>
    </table>
  </p>

</div>
